@model IEnumerable<StandardPgm.Models.M_User>

<style>
    body {
        font-size: 9pt;
    }

    .form-control {
        font-size: 9pt;
        height: 75%;
    }
</style>

@section scripts{
@Scripts.Render("~/bundles/jqueryal")
<script type="text/javascript">

    $(document).ready(function () {
            $(' #BirthDate').datepicker({
                dateFormat:"dd-MM-yy",
                changeMonth: true,
                changYear: true,
                yearRange:"-60:+0"
            });
            });
   

        function openDelete(id, name, user) {
            $('#lblName').html(name);
            $('#lblID').html(user)
            $('#txtID').val(id);
            $('#modalDelete').modal('show');
        }


        $(document).ready(function () {

            var table = $('#tblTransaction').DataTable({
                //"info": false,
                //"paging": false,
                "responsive": true,
                "scrollY": 350,
                "scrollX": true,
                "fixedHeader": true,
                dom: 'Blfrtip',

                buttons: [

            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
            }
            },

            {
                extend: 'colvis',
                collectionLayout: 'fixed two-column',
                postfixButtons: ['colvisRestore'],

            },



                ],

                columnDefs: [ {

                visible: false
                },

                ]

            });

            var table = $('#tblTransaction').DataTable();

        });

    </script>
}




<br/>

<title>Admin List</title>

<div class="form-group col-xs-12">
            <table id="tblTransaction" class="table table-bordered table-hover table-striped" style="min-width:100%">
            <thead>
                <tr>
                    <td colspan="3" >
                        <a href="/Admin/Create" class="btn btn-success btn-xs" title="Add">
                            <div class="fa fa-plus">
                            </div>
                        </a>
                     </td>
                </tr>
                <tr bgcolor="#8fabfc">
                    <th nowrap>
                        Action
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.UserID)
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.AccessType)
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.IC)
                    </th>
                    <th nowrap>
                        Telephone No
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>
                    <th nowrap>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>

                    <th nowrap>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>  
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td nowrap>
                        <a href="/Admin/Edit/@item.ID" class="btn btn-success btn-xs" title="Edit">
                            <div class="fa fa-edit">
                            </div>
                        </a>

                        <button type="button" class="btn btn-xs btn-danger fa fa-trash" onclick="openDelete('@item.ID','@item.UserName','@item.UserID')" title="Delete">
                        </button>

                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.AccessType)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.IC)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.TelNo_Mobile_)
                    </td>

                    <td nowrap>

                        @Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.BirthDate))
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>    
                </tr>
            }
        </tbody>
        </table>

    @using (Html.BeginForm())
    {
        <div class="modal" id="modalDelete" style="border-radius:3px">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header" style="background-color:red">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:white">Delete item</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this item? <br/><br/> 
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <label>User ID:</label>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <label type="text" readonly="readonly" style="background-color:#d7d9dd;width:400px
                        ;padding:3px;border:1px solid;margin-right:2px;border-radius:3px" id="lblID"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <label>User Name:</label>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <label type="text" readonly="readonly" style="background-color:#d7d9dd;width:400px
                        ;padding:3px;border:1px solid;border-radius:3px" id="lblName"></label> 
                            </div>
                        </div>
                         
                        <input type="text" id="txtID" name="txtID" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm Delete</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
        @*</div>*@
    </div>
