@model StandardPgm.Models.M_SystemControl

@{
    Layout = null;
}


@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<style>
    body {
        background-image:url('@ViewBag.VBackground');
        background-size:cover;
    }
</style>


<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">

            <div style="margin-left:50px; width:100%; padding:5px; position:absolute; top:0; z-index:-1000; margin-top:10px">

                <img src='@ViewBag.VLogo' style="height:25px;" />

            </div>



        </div>


        <div class="navbar-collapse collapse">
            <div style="margin-right:150px">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                </ul>
            </div>

        </div>

    </div>
    <br /><br /><br />
    <div class="content">
        <div class="row">

            <div class="col-md-6 col-md-offset-6 col-xs-12">
                <div class="pull-right">
                    <div style="color:yellow">
                        <h1> @ViewBag.VApplication</h1>
                        <div style="color:greenyellow">
                            <h4>@foreach (string line in ViewBag.VApplDesc1)
                            {
                                @Html.Label(line)
                                <br />
                            }</h4>                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @*//Login section control*@
        <div class="row">
            <div class="col-md-3 col-md-offset-05 col-sm-6 col-xs-12">
                @using (Html.BeginForm())
                {
                    <div class="box" style="border-radius:5px;">
                        <div class="box-header with-border" style="height:40px">
                            <h3 class="box-title">Sign in</h3>
                        </div>
                        
                          <div class="box-body" >
                                
                                <div class="form-group has-feedback">
                                    <input class="form-control" placeholder="UserID Or Email" id="txtUsername" name="txtUsername">
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>


                                <div class="form-group has-feedback">
                                    <input type="password" class="form-control" placeholder="Password" id="txtPassword" name="txtPassword" />
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>


                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                <div class="row">
                                    <br/>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger blink_text" })
                                </div>
                            
                            </div>
                    </div>

                }
                </div>
            </div>

        <br /><br /><br />
        <div class="row">
            <div class="col-md-6 col-md-offset-05 col-xs-12">
                <div class="box" style="border-radius:5px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Announcements:</h3>
                    </div>
                    <div class="box-body" style="min-height:150px">

                        @Html.TextAreaFor(model => model.ControlValue, new { style = "min-height: 120px; font-size: 18px;", @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalError" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        Invalid User Id or Password !!! Please try again.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-dismiss="modal">Ok</button>
                    </div>
                </div>

            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="row">
            <div class="col-md-5 col-md-offset-05 col-xs-6">
                <span style="font-size:15px;color:white;"><b>Sponsored by</b></span>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="pull-right">
                    <span style="font-size:15px;color:white;"><b>@ViewBag.VCompanyDesc</b></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-05 col-xs-6">
                <span style="font-size:20px;color:yellow;"><b>@ViewBag.VSponsor</b></span>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="pull-right">
                    <span style="font-size:15px;color:yellow;"><b>&copy;  @ViewBag.VCopyRight</b></span>
                </div>
            </div>
        </div>



    </div>



</body>
</html>
